:root{
    /* Colores */
    --color-text: #4d4d4d;
    --color-principal: #00A263;
    --color-principal-oscuro:#00a264c2;
    --color-secundario:#36195d;
    --color-darkmod: #36195d;
    --color-secundario-opacidad: #36195dea;
    --blanco:#ffffff;
    --blanco-opacidad:#ffffffea;
    --color-sombra:#573EFF;
    
    /* Fuentes */    
    --text-size-menu: 1.5em;
    --text-size-apartados: 2.5em;
    --text-size-cuerpo: 1em;
    --text-size-destacado: 1.125em;
    --text-size-cuerpo-mayor: 20px;
    
    /*Medidas*/
    --border-radius: 2.5em;
    --border-radius-menu: calc(var(--border-radius)/8);
    --border-radius-btn: calc(var(--border-radius)/6);
    
    /* Animaciones */
    --animation: animation--bar 2s alternate ease-out;
}

/*cookies*/

.cookie-popup {
    position: fixed;
    width: 40em;
    bottom: .625em;
    left: .625em;
    background-color: var(--blanco);
    padding: 2em;
    border-radius: var(--border-radius);
    display: none;
    z-index: 9999;
    align-items: center;
    box-shadow: var(--color-principal) 1em 1em .8em;
    
  }
.Cookies-cont--img{
  width: fit-content;
}
.Cookies-img{
  width: 10em;
  height: 10em;
  margin-right: 3em;
}

.Cookies-cont--text{
  width: 25em;
}
.Cookies-links{
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Cookies-h3{
  font-size: var(--text-size-cuerpo-mayor);
  font-weight: 600;
  margin-bottom: 2em;
  color: var(--color-secundario);
}
.Cookies-a{
  color: var(--color-secundario);
}
.cookie-message {
  width: 100%;
  margin-right: .625em;
}

.cookie-button {
  display: block;
    width: 5em;
    height: 2em;
    border: none;
    border-radius: .7em;
    background-color: var(--color-principal);
    color: var(--blanco);
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.cookie-button:hover {
  transform: scale(1.1);
}
  
  /*dark cookies*/
  .dark .cookie-popup{
    background-color: var(--color-secundario);
  }
  .dark .Cookies-a{
    color: var(--color-principal);
  }
  .dark .Cookies-img--cls-1{
    fill: var(--color-principal) !important;
  }
  .dark .Cookies-h3{
    color: var(--color-principal);
  }

/*responsive*/
@media screen and (max-width:767px){
  .cookie-popup{
    width: 90vw;
    height: 70vh;
    flex-direction: column;

}
.Cookies-cont--text{
  margin-top: 2em;
}
.cookie-message {
  width: 90%;
}